@model ExamDTO
@{
    ViewData["Title"] = "Exam";
}

@{
    List<SelectListItem> options = new List<SelectListItem>();
    var data = new[]{
                 new SelectListItem{ Value="A",Text="A"},
                 new SelectListItem{ Value="B",Text="B"},
                 new SelectListItem{ Value="C",Text="C"},
                 new SelectListItem{ Value="D",Text="D"},
             };
    options = data.ToList();
}

@{int k = 0;
    int id = 16; }

<div class="container">
    <div style="text-align:center;"><h4>@Model.Header</h4></div>
    <div style="text-align:center;"><h6>@Model.Description</h6></div>
    <div class="row" style="margin-top:30px;">
        @for (int i = 0; i < 4; i++)
        {
            <div class="card col-md-6">
                <p>@(i + 1)) @Model.Questions[i].QuestionText</p>
                <div class="card-body col-md-12">
                    @for (int j = 0; j < 4; j++)
                    {
                        <div class="row mb-2 col-md-12">
                            <div class="col-md-12">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" id="@k" value="@Model.Options[k].IsCorrect.ToString()" name="@i">
                                        </div>
                                        <div for="@k" id="@id" class="form-control test-option ">
                                            @options[j].Text) @Model.Options[k].OptionText
                                        </div>
                                        @{ k++; id++;}
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br />
        }

    </div>

    <button class="btn btn-success" style="margin-top:30px;margin-left:450px;" onclick="Tamamla()">SINAVI TAMAMLA</button>
</div>

<script>
    function Tamamla() {

        var id = 16;
        var score = 0;
        for (var i = 0; i < 16; i++) {
            var tempRadio = document.getElementById(i);
            var tempLabel = document.getElementById(id);

            if (tempRadio.checked) {
                if (tempRadio.value=="True") {
                    tempLabel.style.backgroundColor = "green";
                    score++;
                }
                else {
                    tempLabel.style.backgroundColor = "red";
                }
            }
            else {
                tempLabel.style.backgroundColor = "white";
            }

            id++;
        }

        alert("Sınav Bitti Score : " + score);
    }
</script>